@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string name = "The Wizard";
    int age = 580;
    string power = "Confundo";
    List<string> powers = new List<string>()
    {
      "Expelliarmus",
      "Lumos",
      "Sectumsempra",
      "Wingardium Leviosa",
      "Petrificus Totalus",
      "Crucio",
      "Alohomora",
      "Accio",
      "Riddikulus",
      "Reparo",
      "Avada Kedavra",
      "Obliviate",
      "Confundo",
      "Expecto Patronum"
    };
}

<div class="text-center">
    <h1 class="display-4">@Model.Greet</h1>
    <p>My name is @name and I am @age years old. So I know a thing or two about this world. </p>
    @if(power == "Confundo")
            {
             <p>Favorite Spell: @power</p>
            }
    else
            {
             <p>I don't have a favorite spell - I love them all!</p>
            }
</div>
<p>
    My top powers are:
</p>
<ul>
@foreach(string p in powers)
        {
            <li>@p</li>
        }
</ul>

